{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}


{% block body %}
    <section class="row">

        {% for article in articles %}

            <article class="card text-white bg-primary m-3" style="max-width: 15rem;">
                <div class="card-header font-italic font-weight-light text-muted">
                    Le {{ article.createdAt|date('d/m/Y') }}
                    à {{ article.createdAt|date('H:i') }}
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <img class="card-img-top" src="{{ article.image }}" alt="">
                    <div class="card-text font-italic font-weight-light text-muted mb-3 mt-2">
                        Catégorie: "{{ article.category.title }}"
                    </div>
                    <div class="card-text">
                        {{ article.content | striptags | slice(0, 100) }} ...
                    </div>
                </div>

                    <div class="text-center pb-3">
                    <a href="{{ path('blog_show', {'id' : article.id }) }}" class="btn btn-secondary">lire la
                        suite</a>
                    </div>


            </article>


        {% endfor %}


    </section>
{% endblock %}
