{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{ article.title }}</h2>
        <div class="font-italic font-weight-light text-muted mb-3">Ecrit le {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i') }} dans
            la catégorie "{{ article.category.title }}"
        </div>
        <div class="content"><img src="{{ article.image }}" alt=""></div>
            {{ article.content|raw }}
    </article>

    <section id="commentaires">
        <h1>{{ article.comments | length }} Commentaires:</h1>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} <small class="font-italic font-weight-light text-muted">(Le {{ comment.createdAt | date('d/m/Y à H:i') }})</small>
                    </div>
                    <div class="col card mb-2">
                        <div class="card-body">
                            {{ comment.content | raw }}
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

        {% if app.user %}

            {{ form_start(commentForm) }}
            {{ form_row(commentForm.author,
                {
                    'attr' : {
                    'placeholder': "Votre Nom"
                }
                }) }}
            {{ form_row(commentForm.content,
                {
                    'attr' : {
                    'placeholder': "Votre Commentaire"
                }
                }) }}
            <button type="submit" class="btn btn-success">Commenter</button>
            {{ form_end(commentForm) }}

        {% else %}
            <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary">Se connecter</a>
        {% endif %}
    </section>

    <div class="offset-2 col-8">
        <a href="{{ path('blog_edit', {'id' : article.id}) }}" class="btn btn-primary">Editer</a>
        <a href="{{ path('blog') }}" class="btn btn-primary">Retour</a></div>
    </div>

{% endblock %}
