<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('components/styles/bootstrapDarkly.css') }}" type="text/css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">BlogSymfony</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('blog') }}">Articles <span class="sr-only">(current)</span></a>
            </li>

            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_create') }}">Créer un article</a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if not app.user %}
                <li class="nav-item my-2 my-lg-0">
                    <a href="{{ path('security_registration') }}" class="nav-link">S'enregistrer</a>
                </li>
                <li class="nav-item my-2 my-lg-0">
                    <a href="{{ path('security_login') }}" class="nav-link">Login</a>
                </li>
            {% else %}
                <li class="nav-item my-2 my-lg-0">
                    <a href="{{ path('security_logout') }}" class="nav-link">Logout</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>


<script type="text/javascript" src="{{ asset('components/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('components/popper/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
